:root
  --dark-cursor auto
  --light-cursor auto

  --theme-adm-warning #ffe066
  --theme-adm-note #66b3ff
  --theme-adm-success #4caf50
  --theme-adm-failure #ff6b81
  --theme-adm-detail var(--theme-ex-header)
