:root[theme-mode=light]
  --cursor-data var(--light-cursor)
  --body-background var(--light-background)

  --theme-highlight #2b8fff
  --theme-subcolor #ffd84d
  --theme-stress #ff5c7a

  --theme-bar-color-0 #2b8fff
  --theme-bar-color-1 #2b8ffc
  --theme-bar-color-2 #2b8f
  --theme-bar-color-3 #2b8f6

  --theme-kbd-shadow #d9a800
  --theme-kbd-text #333

  --theme-cursor #333
  --theme-cursor-bg #0004

  --theme-text-hover #000

  --theme-text #222
  --theme-text-light #000
  --theme-text-rev #fff

  --theme-background #eef4fb
  --theme-bg-trans0 rgba(#ffffff, 0.95)
  --theme-bg-trans1 rgba(#ffffff, 0.8)
  --theme-bg-trans2 rgba(#ffffff, .9)
  --theme-bg-hover #ffffff

  --theme-bg-light #000
  --theme-bg-soft rgba(#ffffff, .3)
  --theme-bg-soft-hover rgba(#ffffff, .6)

  --theme-ex-header #c0c0c0

  --theme-btn-bg #2b8fff

  --theme-border #2b8fff
  --theme-border-light #000
  --theme-border-soft rgba(#000, .1)

  --theme-unimportant #767676
  --theme-unimportant-trans #76767666
  --theme-unimportant-2 #acacac

  --theme-td-border #2b8fff
  --theme-td-hover rgba(#2b8fff, .1)

  --theme-tag-bg #cfe6ff
  --theme-tag-count-bg #b8d9ff
  --theme-tag-border #cfe6ff

  --theme-loadingbar #000
  --theme-loadingbar-fail #f00

  --theme-hide #fff
